  <div *ngIf="product; else loading" class="product-detail-container">
    <div class="product-image">
      <img *ngIf="product.image_url; else placeholderImage" [src]="product.image_url" alt="{{ product.name }}" />
      <ng-template #placeholderImage>
        <img src="assets/product-placeholder.jpg" alt="Product Placeholder" />
      </ng-template>
    </div>
  
    <div class="product-info">
      <h2>{{ product.name }}</h2>
      <p><strong>Kategori:</strong> {{ product.category }}</p>
      <p><strong>Harga:</strong> {{ product.price | currency:'Rp ' }}</p>
      <p><strong>Stok:</strong> {{ product.stock }}</p>
  
      <p class="product-description">{{ product.description }}</p>
  
      
    <a routerLink="/admin/products" class="btn btn-dark"><i class="fa fa-undo"></i> &nbsp; Kembali ke Daftar Produk</a>
  <br><br>
      <p *ngIf="product.stock <= 0" class="out-of-stock-message" style="color: red;">
        Stok habis! Segera tambahkan stok barang!
      </p>
    </div>
  </div>
  
  <ng-template #loading>
    <p>Loading product details...</p>
  </ng-template>