<div class="my-orders-container">
    <h2>Daftar Semua Pesanan</h2>
  
    <div *ngIf="orders.length === 0">
      <p>Anda belum pernah melakukan pemesanan.</p>
    </div>
  
    <!-- Menggunakan grid system Bootstrap -->
    <div class="row">
      <div class="col-md-6" *ngFor="let order of orders">
        <div class="order-card">
          <div class="order-header">
            <p><strong>ID: </strong>{{ order.id }}</p>
            <p><strong>Pengguna: </strong>{{ order.user_name }}</p>
            <p><strong>Status: </strong>{{ order.status }}</p>
            <p><strong>Tanggal: </strong>{{ order.created_at | date:'dd MMMM yyyy, HH:mm' }}</p>
            <p><strong>Total Harga: </strong>{{ order.total_price | currency:'Rp ' }}</p>
          </div>
  
          <div class="order-items">
            <div class="order-item" *ngFor="let item of order.items">
              <div class="product-image">
                <img 
                  *ngIf="item.product.image_url; else placeholderImage" 
                  [src]="item.product.image_url" 
                  alt="{{ item.product.name }}" 
                />
                <ng-template #placeholderImage>
                  <img src="assets/product-placeholder.jpg" alt="Product Placeholder" />
                </ng-template>
              </div>
              <div class="product-details">
                <h4>{{ item.product.name }}</h4>
                <p>{{ item.product.description }}</p>
                <p><strong>Qty: </strong>{{ item.quantity }}</p>
              </div>
            </div>
          </div>
  
          <div class="order-actions">
            <button routerLink="/my-orders/{{ order.id }}" class="btn-view-details"><i class="fa fa-search"></i>&nbsp; Lihat Detail</button>
            <br><br>
            <div *ngIf="!orderCompleted[order.id] && order.status === 'Pending'">
                <button 
                  (click)="updateStatusOrder(order.id)" 
                  class="btn-view-details">
                  <i class="fa fa-check"></i>&nbsp; Selesaikan Pesanan
                </button>
            </div>
            <div *ngIf="orderCompleted[order.id]">
                <span class="text-success">Pesanan Selesai</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>