<div class="category-list">
    <h2>Kategori</h2>
    <button routerLink="/categories/new" class="btn"><i class="fa fa-plus"></i> Tambah Kategori</button>
    <table>
      <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Nama Kategori</th>
          <th class="text-center">Aksi</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td class="text-center">{{ category.id }}</td>
          <td>{{ category.name }}</td>
          <td class="text-center">
            <button (click)="editCategory(category.id)"><i class="fa fa-edit"></i></button>
            <button (click)="deleteCategory(category.id)"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>